<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./base.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id='nav'>
            <h1>welcome to our library!</h1>
            <div id='navButton'>
                <a href="{% url 'home' %}"><button>home</button></a>
                <a href="{% url 'bookList' %}"><button>book list</button></a>
                <a><button>author list</button></a>
            </div>
        </div>
        <div id='content'>
            {% block content %}{% endblock %}
        </div>
      <div id='footer'>
        <h1>footer</h1>
        <div id='footerButton'>
            <a><button>home</button></a>
            <a><button>book list</button></a>
            <a><button>author list</button></a>

        </div>
    </div>


        <script src="" async defer></script>
    </body>
</html>
